@using Fostor.Ginkgo.Web.Resources
@inject IWebResourceManager WebResourceManager
@{
    WebResourceManager.AddScript(ApplicationPath + "view-resources/Views/Shared/Components/TenantChange/Default.js");
}
<div class="card tenant-change-component" style="margin-bottom: 3px;">
    <div class="body text-center">
        <span>
            @L("CurrentTenant"):

            @if (Model.Tenant != null)
            {
                <span id="current_tenant_name" title="@Model.Tenant.Name"><strong>@Model.Tenant.Name</strong></span>
            }
            else
            {
                <span id="current_tenant_name"  title="@L("Host")">@L("Host")</span>
            }
            <a href="#" data-toggle="modal" data-target="#TenantChangeModal">[@L("ChangeOther")]</a>
        </span>
    </div>
</div>
<div class="modal fade" id="TenantChangeModal" tabindex="-1" role="dialog" aria-labelledby="UserCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>