@using Fostor.Ginkgo.Web.Models.Common.Modals
@using System.Collections.Generic;
@model Fostor.Ginkgo.Web.Areas.Admin.Models.DataDictViewModel
@{
    Layout = null;
}
<form name="DataDictEditForm" role="form" novalidate class="form-validation form-horizontal">
    <input type="hidden" name="Id" value="@Model.DataDictionaryDto.Id" />
    <bs-row>
        <bs-label>@L("CategoryCode")<bs-star></bs-star></bs-label>
        <bs-input bs-width="10" name="CategoryCode" value="@Model.DataDictionaryDto.CategoryCode" maxlength="50" readonly="readonly"></bs-input>
    </bs-row>
    <bs-row>
        <bs-label>@L("DataKey")<bs-star></bs-star></bs-label>
        <bs-input bs-width="10" name="Key" value="@Model.DataDictionaryDto.Key" maxlength="50" requried="requried"></bs-input>
    </bs-row>
    <bs-row>
        <bs-label>@L("DataValue")</bs-label>
        <bs-input bs-width="10" name="Value" value="@Model.DataDictionaryDto.Value" maxlength="1000"></bs-input>
    </bs-row>
</form>
<script src="~/view-resources/Admin/DataDict/_EditModal.js" asp-append-version="true"></script>

