@using Fostor.Ginkgo.Web.Startup
@using Fostor.Ginkgo.Web.Areas.Admin.Models
@using Fostor.Ginkgo.Web.Views.Shared.Components.CommonModal
@{
    ViewData["Title"] = "SysObject";
    ViewBag.CurrentPageName = "Admin.SysObject"; //The menu item will be active for this page.
}
@section scripts
    {
    <link href="~/lib/bootstrap-treeview/dist/bootstrap-treeview.min.css" rel="stylesheet" />
    <script src="~/lib/bootstrap-treeview/dist/bootstrap-treeview.min.js" asp-append-version="true"></script>
    <environment names="Development">
        <script src="~/view-resources/Admin/SysObject/Index.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/view-resources/Admin/SysObject/Index.min.js" asp-append-version="true"></script>
    </environment>
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    @L("SysObject")
                </h2>
            </div>
            <div class="row">
                <div class="col-md-3">
                    @*<div class="form-group" style="margin-bottom:5px;">
                            <span class="label" style="color:#00BCD4;font-size:medium;">@L("SysObjectTree"):</span>
                        </div>*@
                    <div id="tree_container" class="panel panel-default m-l-10 m-r--10" style="overflow:auto;" data-tree="@Json.Serialize(ViewBag.TreeData).ToString()">
                        <div id="tree">

                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <form name="ToolsForm" role="form" novalidate class="form-validation form-horizontal">
                        <div class="form-group m-b-10 m-t-5">
                            <div class="col-md-2">
                                <button type="button" class="btn btn-xs btn-primary waves-effect  waves-float add-root-node" data-toggle="modal" data-target="#SysObjectCreateModal">
                                    <i class="material-icons">add</i>@L("CreateRootNode")
                                </button>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-xs btn-primary waves-effect  waves-float add-sub-node">
                                    <i class="material-icons">add</i>@L("CreateSubNode")
                                </button>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-xs btn-primary waves-effect  waves-float delete-object">
                                    <i class="material-icons">delete</i>@L("Delete")
                                </button>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-xs btn-primary waves-effect  waves-float save-object">
                                    <i class="material-icons">save</i>@L("Save")
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="panel panel-default m-r-10 m-t-5">
                        <div id="edit_panel"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@await Component.InvokeAsync(typeof(CommonModalViewComponent), new { modalName = "SysObjectCreate" })


