@using Fostor.Ginkgo.Web.Startup
@using Fostor.Ginkgo
@using Fostor.Ginkgo.Web.Views.Shared.Components.CommonModal
@{
    ViewData["Title"] = "Localization";
    ViewBag.CurrentPageName = "Admin.Localization"; //The menu item will be active for this page.
}
@section scripts
    {

    <environment names="Development">
        <script src="~/view-resources/Admin/Localization/Index.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/view-resources/Admin/Localization/Index.min.js" asp-append-version="true"></script>
    </environment>
}


<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    @L("Localization")
                </h2>
                <form name="SearchForm" role="form" novalidate class="form-validation form-horizontal">
                    <input type="hidden" name="Source" value="@GinkgoConsts.LocalizationSourceName">
                    <div class="form-group">
                        <label class="col-md-2 control-label">@L("LanguageName")</label>
                        <div class="col-md-2">
                            <select class="form-control  bootstrap-select show-tick" name="LanguageName">
                                <option value="">-select-</option>
                                <option value="zh-Hans">zh-Hans</option>
                                <option value="en">en</option>
                            </select>
                        </div>
                        <label class="col-md-2 control-label">@L("LanguageKey")</label>
                        <div class="col-md-2">
                            <div class="form-line">
                                <input class="form-control" type="text" name="Key">
                            </div>
                        </div>
                        <div class="col-md-2" style="width:80px;">
                            <button type="button" id="btnSearch" class="btn btn-primary waves-effect" style="margin-left:20px;"><i class="small material-icons">search</i></button>
                        </div>
                        @*@if (!AbpSession.TenantId.HasValue)
                            {
                                <div class="col-md-2" style="width:80px;">
                                    <button type="button" id="btnCopy" class="btn btn-primary waves-effect copy-language-text" style="margin-left:20px;" data-toggle="modal" data-target="#LanguageTextCopyModal"><i class="small material-icons">content_copy</i>@L("Copy")</button>
                                </div>
                            }*@
                        <div class="col-md-2 pull-right" style="width:80px;">
                            <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right add-language-text" data-toggle="modal" data-target="#LanguageTextCreateModal">
                                <i class="material-icons">add</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="datatables-container">
                <table id="table_100" class="table table-condensed table-bordered" style="min-width:100%;">
                    <thead>
                        <tr>
                            <th>@L("LanguageName")</th>
                            <th>@L("LanguageKey")</th>
                            <th>@L("LanguageValue")</th>
                            <th>@L("Edit")</th>
                            <th>@L("Delete")</th>
                            <th>@L("LastModificationTime")</th>
                            <th style="min-width:80px;">@L("CreationTime")</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>@L("LanguageName")</th>
                            <th>@L("LanguageKey")</th>
                            <th>@L("LanguageValue")</th>
                            <th>@L("Edit")</th>
                            <th>@L("Delete")</th>
                            <th>@L("LastModificationTime")</th>
                            <th style="min-width:80px;">@L("CreationTime")</th>
                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>
    </div>
</div>
@await Component.InvokeAsync(typeof(CommonModalViewComponent), new { modalName = "LanguageTextCreate", modalTitle = @L("AddLanguageText"), width = "600px", height = "400px" })
@await Component.InvokeAsync(typeof(CommonModalViewComponent), new { modalName = "LanguageTextCopy", modalTitle = @L("CopyLanguageText"), width = "600px", height = "400px" })
@await Component.InvokeAsync(typeof(CommonModalViewComponent), new { modalName = "LanguageTextEdit", modalTitle = @L("EditLanguageText"), width = "600px", height = "400px" })




