@using Fostor.Ginkgo.Web.Models.Common.Modals
@using System.Collections.Generic
@using Fostor.Ginkgo.Web.Views.Shared.Components.DataConfigSelector
@using Fostor.Ginkgo.Web.Views.Shared.Components.MaterialDatePicker
@model Fostor.Ginkgo.Web.Areas.TaskSample.Models.LeaveViewModel
@{
    Layout = null;
}
@*@Html.Partial("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditLeave")))*@


<form name="LeaveEditForm" role="form" novalidate class="form-validation form-horizontal">
    <input type="hidden" name="Id" value="@Model.Leave.Id" />
    <div class="form-group">
        <label class="col-md-2 control-label">@L("AppliNumber")<span style="color:red;">*</span></label>
        <div class="col-md-4">
            <div class="form-line">
                <input class="form-control" type="text" name="AppliNumber" value="@Model.Leave.AppliNumber" maxlength="20" readonly>
            </div>
        </div>
        <label class="col-md-2 control-label">@L("Status")<span style="color:red;">*</span></label>
        <div class="col-md-4">
            @await Component.InvokeAsync(typeof(DataConfigSelectorViewComponent), new { configCode = "LeaveAppliStatus", tagName = "Status", selectedValue = Model.Leave.Status, disabled = "1" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">@L("LeaveType")<span style="color:red;">*</span></label>
        <div class="col-md-4">
            @await Component.InvokeAsync(typeof(DataConfigSelectorViewComponent), new { configCode = "LeaveType", tagName = "LeaveType", selectedValue = Model.Leave.LeaveType, required = "1" })
        </div>
        <label class="col-md-2 control-label">@L("Title")<span style="color:red;">*</span></label>
        <div class="col-md-4">
            <div class="form-line">
                <input class="form-control" type="text" name="Title" value="@Model.Leave.Title" maxlength="50" required>
            </div>
        </div>
    </div>
    @*<div class="form-group">
            <bs-label>@L("Description")<bs-star></bs-star></bs-label>
            <div class="col-md-10">
                <div class="form-line">
                    <input class="form-control" type="text" name="Description" value="@Model.Leave.Description" maxlength="500">
                </div>
            </div>
        </div>*@
    <bs-row>
        <bs-label>@L("Description")</bs-label>
        <bs-input bs-width="10" name="Description" value="@Model.Leave.Description" maxlength="500"></bs-input>
    </bs-row>
    <div class="form-group">
        <label class='col-md-2 control-label'>@L("FromTime")<span style="color:red;">*</span></label>
        <div class="col-md-4">
            @await Component.InvokeAsync(typeof(MaterialDatePickerViewComponent), new { tagName = "FromTime", value = Model.Leave.FromTime.Value.ToString("yyyy-MM-dd HH:mm"), showTime = "1", required = "1" })
        </div>
        <label class="col-md-2 control-label">@L("To")<span style="color:red;">*</span></label>
        <div class="col-md-4">
            @await Component.InvokeAsync(typeof(MaterialDatePickerViewComponent), new { tagName = "EndTime", value = Model.Leave.EndTime.Value.ToString("yyyy-MM-dd HH:mm"), showTime = "1", required = "1" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">@L("TotalHours")<span style="color:red;">*</span></label>
        <div class="col-md-4">
            <div class="form-line">
                <input class="form-control" type="number" name="TotalHours" value="@Model.Leave.TotalHours" required>
            </div>
        </div>
        <label class="col-md-2 control-label">@L("Applicant")<span style="color:red;">*</span></label>
        <div class="col-md-4">
            <div class="form-line">
                <input class="form-control" type="text" name="Applicant" maxlength="30" value="@Model.Leave.Applicant" required="required">
            </div>
        </div>
    </div>
    @*@Html.Partial("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")*@
</form>


<script src="~/view-resources/TaskSample/Leave/_EditModal.js" asp-append-version="true"></script>
<script src="~/lib/moment/min/moment.min.js" asp-append-version="true"></script>
<script src="~/lib/moment/min/locales.min.js" asp-append-version="true"></script>
<script src="~/lib/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js" asp-append-version="true"></script>
<script src="~/view-resources/Views/Shared/Components/MaterialDatePicker/Default.js" asp-append-version="true"></script>





