@using Fostor.Ginkgo.Web.Startup
@{
    ViewData["Title"] = "MyFlowList";
    ViewBag.CurrentPageName = "TaskFlow.MyFlow"; //The menu item will be active for this page.

}
@section scripts
    {
    <style type="text/css">
        .ms-container .ms-list {
            height: 200px;
        }
    </style>
    <link href="~/lib/bootstrap-treeview/dist/bootstrap-treeview.min.css" rel="stylesheet" />
    <script src="~/lib/bootstrap-treeview/dist/bootstrap-treeview.min.js" asp-append-version="true"></script>
    <environment names="Development">
        <script src="~/view-resources/TaskFlow/Flow/MyFlowList.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/view-resources/TaskFlow/Flow/MyFlowList.min.js" asp-append-version="true"></script>
    </environment>
}


<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                <input type="hidden" id="flow_list_data" value="@(Json.Serialize(ViewBag.FlowList??"").ToString())" />
                <div id="main_panel" class="row">
                    <div class="col-md-4">                        
                        <span class="label" style="color:#009688;font-size:medium;">@L("MyFlowListTree")</span>
                        <div id="flowtree_container" class="panel panel-info" style="overflow:auto;">
                            <div id="flowtree">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <span class="label" style="color:#009688;font-size:medium;">@L("FlowRouteConfig")</span><span id="lb_flow_route"></span>
                        <div id="route_panel" class="panel panel-info">
                            <input type="hidden" id="txt_task_code" />
                            <table id="table_100" class="table table-condensed table-bordered" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>@L("PhaseCode")</th>
                                        <th>@L("PhaseName")</th>
                                        <th style="text-align:center;">@L("Edit")</th>
                                        <th style="min-width:80px;">@L("PhaseActors")</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="MyFlowPhaseEditModal" tabindex="-1" role="dialog" aria-labelledby="MyFlowPhaseEditModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document" style="width:800px;height:500px;">
        <div class="modal-content">

        </div>
    </div>
</div>



